<nav class="nav nav-pills flex-column flex-sm-row">
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="home" routerLinkActive="active">História</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="contato" routerLinkActive="active">Células</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="chat" routerLinkActive="active">Chat</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="eventos" routerLinkActive="active">Eventos</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="loja" routerLinkActive="active">Nossa loja</a>
</nav>
 